<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Prato do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <ion-list>
      <ion-item >
        <ion-label>
          <b>Promoção: </b>
          <p>Entrada + Prato principal + Sobremesa = 24,90 </p>
        </ion-label>
        
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Bruschetta</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Risoto de alho poró com bacon</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Tortinha de maçã</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
