<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title> Patitas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-text>
    <h2>Olá! Seja bem-vindo!</h2>
  </ion-text>

  <ion-item>
    <ion-img src="https://bit.ly/3wxqH5U"></ion-img>
  </ion-item>
  <ion-item>
    <ion-text>
      <p> Aqui você pode deixar idéias, sugestões de melhorias ou um recado pra gente!</p>
    </ion-text>
  </ion-item>
    <br>
  <ion-item>
    <ion-label>Mensagem:</ion-label>
    <ion-textarea rows="3" cols="6" placeholder="digite sua mensagem aqui..."></ion-textarea>
  </ion-item>
  <br>
  <ion-button color="orange">Enviar</ion-button>
</ion-content>



