<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="favorite">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true" >
          <ion-item [routerLink]="['/home']">
            <ion-icon name="home-outline" size="small"></ion-icon>
            <p class="p-icon">Home</p>  
          </ion-item>
          <ion-item [routerLink]="['/login']">
            <ion-icon name="log-in-outline" size="small"></ion-icon>
            <p class="p-icon">Login</p>  
          </ion-item>
          <ion-item [routerLink]="['/help']">
            <ion-icon name="help-circle-outline" size="small"></ion-icon>  
            <p class="p-icon">Quero ajudar</p>  
          </ion-item>
          <ion-item [routerLink]="['/badge']">
            <ion-icon name="heart-outline" size="small"> </ion-icon> 
            <p class="p-icon">Pet do dia</p>  
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>  
  <ion-router-outlet id="main"></ion-router-outlet> 
  <!--indica através do id o componente que será empurrado-->
</ion-app>
